{% extends "navbar.html" %}

{% block styles %}
	{{ super() }}
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='eggshell.css') }}" rel="stylesheet" type="text/css">

	<!-- Chart.js CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

{% endblock %}

{% block home_active %}active{% endblock %}

{% block app_content %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="background-color: #f5f5f5; padding-top: 1em; padding-bottom: 0">
		<div class="container">
			<h1 class="display-3">keep running</h1>
			<blockquote class="blockquote mb-0 card-body">
				<p>“Now if you are going to win any battle you have to do one thing. You have to make the mind run the body. Never let the body tell the mind what to do. The body will always give up. It is always tired in the morning, noon and night. But the body is never tired if the mind is not tired.”</p>
				<small class="text-muted blockquote-footer">
					George S. Patton
				</small>
			</blockquote>
			<p><a class="btn btn-success btn-lg" href="{{ url_for('add_run') }}" role="button">add a run</a> <a class="btn btn-primary btn-lg" href="{{ url_for('add_goal') }}" role="button">add a goal</a></p>
		</div>
	</div>

	<!-- Container for charts -->
	<div class="container">
		<div class="card-deck">
			<div class="card" style="background-color: #f5f5f5;">
				<div class="card-body">
					<h2 class="card-title">last 7 days</h2>
					<canvas id="dailyChart" width="550" height="400"></canvas>
				</div>
			</div>
			<div class="card" style="background-color: #f5f5f5">
				<div class="card-body">
					<h2 class="card-title">last 4 weeks</h2>
					<canvas id="weeklyChart" width="510" height="400"></canvas>
				</div>
			</div>
			<div class="card" style="background-color: #f5f5f5">
				<div class="card-body">
					<h2 class="card-title">all time (weekly)</h2>
					<canvas id="myChart3" width="550" height="400"></canvas>
				</div>
			</div>
		</div>
	</div>
	<br>

	<!-- Scripts for the charts -->
	{% include "runs/scripts/_daily_chart.html" %}
	{% include "runs/scripts/_weekly_chart.html" %}
	{% include "runs/scripts/_alltime_chart.html" %}

{% endblock %}