{% extends "navbar.html" %}

{% block styles %}
	{{ super() }}
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='eggshell.css') }}" rel="stylesheet" type="text/css">

	<!-- Chart.js CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
{% endblock %}

{% block runs_active %}active{% endblock %}

{% block app_content %}
	<br>
	<div class="container text-center" style="padding-top: 0">
		{% for week in weeks %}
			{% set goal_total, run_total, daily_run_totals, num_runs = total_combined_distances(week) %}
			<hr class="bg-success">
			<div class="card-deck">
				<div class="card" style="background-color: #f5f5f5; border-color: #f5f5f5">
					<div class="card-body">
						<h1 class="card-title text-success">
							Mar 13 - June 20
						</h1>
						<br>
						<h2 class="card-title">
							{{ "{0:0.1f}".format(run_total) }} miles
						</h2>
						<h3 class="card-text text-primary">/{{ "{0:0.1f}".format(goal_total) }}</h3>
					</div>
				</div>
				<div class="card text-center" style="background-color: #f5f5f5; border-color: #f5f5f5">
					<ul class="list-group list-group-flush border-success">
						<li class="list-group-item" style="background-color: #f5f5f5">{{ num_runs }} {% if num_runs == 1 %}run{% else %}runs{% endif %}</li>
						<li class="list-group-item" style="background-color: #f5f5f5">
							Run Increase
						</li>
						<li class="list-group-item" style="background-color: #f5f5f5">Average distance: {{ "{0:0.1f}".format(run_total/7.0) }} miles</li>
						<li class="list-group-item" style="background-color: #f5f5f5">Longest Run</li>
					</ul>
				</div>
				<div class="card" style="background-color: #f5f5f5; border-color: #f5f5f5">
					<div class="card-body">
						<canvas id="{{ 'chart{}'.format(loop.index0) }}" width="600" height="400"></canvas>
					</div>
				</div>
			</div>
			<hr class="bg-success">
			<br>
			{% for day in week %}
				{% set goal, runs = day %}
				{% if loop.index0 % 4 == 0 %}
				<div class="card-deck">
				{% endif %}
				<div class="card border-primary">
					<div class="card-body">
						<h2 class="card-title">
							{% for run in runs %}{{ run.distance }} {% if not loop.last %}+ {% endif %}{% endfor %} miles
						</h2>
						<p class="card-text text-primary">/{{ goal.distance }}</p>
					</div>
					<div class="card-footer" style="background-color: #f5f5f5">
						<p class="card-text">{{ day_abbr[goal.date.weekday()] }} {{ month_abbr[goal.date.month] }}, {{ goal.date.day }}</p>
					</div>
				</div>
				{% if loop.index0 % 4 == 3 %}
				</div>
				<br>
				{% elif loop.last %}
				{% set remaining = 4 - (loop.length % 4) %}
				{% for i in range(remaining) %}
				<div class="card" style="background-color: #f5f5f5; border-color: #f5f5f5">
				</div>
				{% endfor %}
				</div>
				<br>
				{% endif %}
			{% endfor %}
			<!-- add chart scripts -->
			{% with daily_runs = daily_run_totals, chart_id = 'chart{}'.format(loop.index0) %}
				{% set days = ["Mon", "Tues", "Wed", "Thurs", "Fri", "Sat", "Sun"] %}
				{% include 'runs/scripts/_reports_chart.html' %}
			{% endwith %}
		{% endfor %}
	</div><br>
{% endblock %}