{% extends "navbar.html" %}

{% block styles %}
	{{ super() }}
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='eggshell.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block runs_active %}active{% endblock %}

{% block app_content %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="background-color: #f5f5f5; padding-top: 1em; padding-bottom: 0">
		<div class="container">
			<h1 class="display-3">your runs</h1>
		</div>
	</div>

	<div class="container text-center" style="padding-top: 0">
		{% for day in goals_runs %}
			{% set goal, runs = day %}
			{% if loop.index0 % 4 == 0 %}
			<div class="card-deck">
			{% endif %}
			<div class="card border-primary">
				<div class="card-body">
					<h2 class="card-title">
						{% for run in runs %}{{ run.distance }} {% if not loop.last %}+ {% endif %}{% endfor %} mi
					</h2>
					<p class="card-text text-primary">/{{ goal.distance }} mi</p>
				</div>
				<div class="card-footer" style="background-color: #f5f5f5">
					<p class="card-text">{{ day_abbr[goal.date.weekday()] }} {{ month_abbr[goal.date.month] }}, {{ goal.date.day }}</p>
				</div>
			</div>
			{% if loop.index0 % 4 == 3 %}
			</div>
			<br>
			{% elif loop.last %}
			{% set remaining = 4 - (loop.length % 4) %}
			{% for i in range(remaining) %}
			<div class="card" style="background-color: #f5f5f5; border-color: #f5f5f5">
			</div>
			{% endfor %}
			</div>
			{% endif %}
		{% endfor %}
	</div><br>
{% endblock %}