{% extends "navbar.html" %}

{% block styles %}
	{{ super() }}
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='eggshell.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block runs_active %}active{% endblock %}

{% block app_content %}

	<div class="container text-center" style="padding-top: 50px">
		{% for run in user_runs %}
			{% if loop.index0 % 4 == 0 %}
			<div class="card-deck">
			{% endif %}
			<div class="card border-primary">
				<div class="card-body">
					<h2 class="card-title">{{ run.distance }} mi</h2>
					<p class="card-text text-primary">/7 mi</p>
				</div>
				<div class="card-footer" style="background-color: #f5f5f5">
					<p class="card-text">{{ run.started_at }}</p>
				</div>
			</div>
			{% if loop.index0 % 4 == 3 %}
			</div>
			<br>
			{% elif loop.last %}
			{% set remaining = 4 - (loop.length % 4) %}
			{% for i in range(remaining) %}
			<div class="card" style="background-color: #f5f5f5; border-color: #f5f5f5">
			</div>
			{% endfor %}
			</div>
			{% endif %}
		{% endfor %}
	</div><br>
{% endblock %}