<script type="text/javascript">
		// Global parameters:
	// do not resize the chart canvas when its container does (keep at 600x400px)
	Chart.defaults.global.responsive = true;
	 
	// define the chart data
	var chartData = {
		labels : [{% for item in days %}
				 "{{item}}",
				{% endfor %}],
		datasets : [{
			label: '{{ legend }}',
			fill: false,
			lineTension: 0.1,
			backgroundColor: "rgba(255,140,51,0.6)",
			borderColor: "rgba(255,140,51,1)",
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: "rgba(75,192,192,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(255,140,51,0.6)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for item in runs %}
					{{item}},
					{% endfor %}],
			spanGaps: false
		}]
	}
	 
	// get chart canvas
	var ctx = document.getElementById("myChart3").getContext("2d");
	 
	// create the chart using the chart canvas
	var myChart = new Chart(ctx, {
		type: 'line',
		data: chartData,
		options: {
			legend: {
			display: false
			},
			tooltips: {
				callbacks: {
					label: function(tooltipItem) {
						return tooltipItem.yLabel;
					}
				}
			}
		}
	});
</script>