{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='eggshell.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="background-color: #f5f5f5; padding-top: 1em; padding-bottom: 0">
		<div class="container text-center">
			<h1 class="display-3 text-success">runtrack</h1>
			<h2 class="display-4">An unexpected error has occurred</h2>
			<br>
			<p><a class="btn btn-primary btn-lg" href="{{ url_for('index') }}" role="button">home</a></p>
		</div>
	</div>
{% endblock %}